.App-header {
    background-color: rgb(17, 17, 17);
    min-height: 12vh;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    color: white;
  }
  
  .App-logo {
    height: 12vmin;
  }
  .TituloBrand {
    color: white;
    text-decoration: none;
    text-decoration-color: black;
  }